/* * {
    color: aqua;
} */

body {
    background-color:#FFE3D6 ;
}

button {
    color: #9D8189;
    background-color:#D0DCD5;
    font-size: 20px;
    font-weight: bold;
}
 button:hover {
    background-color: #F4ACB7;
 }

/* h2, p {
    color:#9D8189;
} */

#signup{
    background-color:#F4ACB7;
    color: white;
}

#signup:hover {
    background-color:#E32643;
}

.tag {
    color: white;
    font-size: 18px;
    background-color:#9D8189 ;
}

footer > a {
    color: #9D8189;
} 

/* input + button {
    background-color: #FFC2CD;
} */
a:action{
    color: #9D8189;
}

.post:nth-of-type(2n+1){
    background: #FFC7AD;
}

h2::first-letter {
    font-size: 40px;
}

::selection {
    background-color:#F4ACB7 ;
}

p::first-line {
    color: #52796f;
    font-weight: bold;
}