h2 {
    color:rgb(248, 91, 33);
    background-color: #f7e6b5;
}

button{
    color: #DE3163;
    background-color: #9FE2BF;
}

p {
    color:#900C3F;
    background-color: #CCCCFF;
}

body{
    background-color:#FDE6F6;
}